.TodoList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.TodoList>input {
    border: none;
    border-bottom: 1px solid #c2c2c2;
    padding: 15px 0;
}

.TodoList>input:focus {
    outline: none;
    border-bottom: 1px solid rgb(37, 147, 255);
}

.TodoList input[type="text"] {
    width: 100%;
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    font-size: 15px;
    transition: all 0.2s ease;
}

.todos-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}